# HU Extension                     Assignment 03           E63 Big Data Analytics

## Emmanuel Aboah

### Issued on: Feb 10, 2023                          Due on Saturday by 12 noon EST, Feb 18, 2023

### Problem 1

Preparation of your environment will take some of your time. Describe what you are doing in sufficient detail so that someone without previous experience could repeat your steps. Install 64 bit MySQL Community Edition Database, version 8.0.28 or close, following instructions in notes for lab 3. As root user of MySQL database create a new database user retailer. Grant to user retailer broad privileges so that it could create a database, create tables and other database objects. As user retailer create database ‘classicmodels’ using attached script: mysqlsampledatabase.sql. Database diagram for classicmodels database is attached as file MySQL-Sample-Databse-Diagram.pdf. Query and report the number of rows in database tables orderdetails and orders.

**MySql installation**

I am using the latest mysql published docker image in a docker-compose.

```yaml
version: '3.3'
services:
  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'user'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'password'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
    volumes:
      - my-db:/var/lib/mysql
  # Names our volume
volumes:
  my-db:
```

**MySql Version**

```bash
# command
mysql -V

# output
mysql  Ver 8.0.32 for Linux on x86_64 (MySQL Community Server - GPL)
```

**Create user and provide privileges**

```bash
# command
create user 'retailer'@'localhost' identified by 'password';

# output
Query OK, 0 rows affected (0.07 sec)

# command
grant all privileges on *.* to 'retailer'@'localhost' with grant option;

# output
Query OK, 0 rows affected, 1 warning (0.02 sec)

```

**Run script to create schema and data**

```bash
# command
source root/mysqlsampledatabase.sql

# output
Query OK, 0 rows affected, 1 warning (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

Query OK, 1 row affected (0.01 sec)

Database changed
Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected, 2 warnings (0.06 sec)

Query OK, 122 rows affected (0.03 sec)
Records: 122  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected, 2 warnings (0.06 sec)

Query OK, 23 rows affected (0.01 sec)
Records: 23  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected (0.03 sec)

Query OK, 7 rows affected (0.01 sec)
Records: 7  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected, 3 warnings (0.03 sec)

Query OK, 2996 rows affected (0.11 sec)
Records: 2996  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected, 2 warnings (0.05 sec)

Query OK, 326 rows affected (0.02 sec)
Records: 326  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.01 sec)

Query OK, 0 rows affected, 1 warning (0.04 sec)

Query OK, 273 rows affected (0.02 sec)
Records: 273  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.05 sec)

Query OK, 7 rows affected (0.01 sec)
Records: 7  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected, 1 warning (0.06 sec)

Query OK, 110 rows affected (0.02 sec)
Records: 110  Duplicates: 0  Warnings: 0

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

Query OK, 0 rows affected (0.00 sec)

# command
commit;

# output
Query OK, 0 rows affected (0.00 sec)
```

**Display Records**

```bash
# command
show databases;

# output
+--------------------+
| Database           |
+--------------------+
| classicmodels      |
| db                 |
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+

# command
use classicmodels;
show tables;

# output
Database changed

+-------------------------+
| Tables_in_classicmodels |
+-------------------------+
| customers               |
| employees               |
| offices                 |
| orderdetails            |
| orders                  |
| payments                |
| productlines            |
| products                |
+-------------------------+

# count rows in orderdetails
select count(*) as num_rows from orderdetails;

# output
+----------+
| num_rows |
+----------+
|     2996 |
+----------+

# count rows in orders
 select count(*) as num_rows from orders;

# output
+----------+
| num_rows |
+----------+
|      326 |
+----------+
```

### Problem 2

From file mysqlsampledatabase.sql using Notepad or Notepad++ or any other convenient text editor (but not MS Word) extract data for tables customer, orders and orderdetails. Format such data as csv files and load them into DataFrames customer, orders and orderdetails. Report on the number of rows you see in each table in MySQL database and in the corresponding DataFrames in Spark.

In [1]:
# Import customer csv into dataframe

# Imports
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import findspark

findspark.init()

In [2]:
# Set context and configs

conf = SparkConf().setMaster("local").setAppName("Hw03App")

sc = SparkContext(conf=conf)

sc.setLogLevel("ERROR")

your 131072x1 screen size is bogus. expect trouble

23/02/18 19:52:04 WARN Utils: Your hostname, LAPTOP-85L1BUVJ resolves to a loopback address: 127.0.1.1; using 172.17.235.148 instead (on interface eth0)
23/02/18 19:52:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/18 19:52:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# SparkSession

spark = SparkSession(sc)

In [4]:
# Read customer data with enforced schema

customer_schema = StructType ([
    StructField("customerNumber", IntegerType(), True),
    StructField("customerName", StringType(), True),
    StructField("contactLastName", StringType(), True),
    StructField("contactFirstName", StringType(), True),
    StructField("phone", StringType(), True),
    StructField("addressLine1", StringType(), True),
    StructField("addressLine2", StringType(), True),
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("postalCode", IntegerType(), True),
    StructField("country", StringType(), True),
    StructField("salesRepEmployeeNumber", IntegerType(), True),
    StructField("creditLimit", FloatType(), True)
])

customer_df = (
    spark.read
    .option("header", True)
    .option("infer_schema", True)
    .schema(customer_schema)
    .csv("/home/manny/dev/cscie-63/hw03/notebooks/data/customers.csv")
)

customer_df.printSchema()

customer_df.show()

# Number of rows in customer_df
print(f'customer_df count: {customer_df.count()}')

root
 |-- customerNumber: integer (nullable = true)
 |-- customerName: string (nullable = true)
 |-- contactLastName: string (nullable = true)
 |-- contactFirstName: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- addressLine1: string (nullable = true)
 |-- addressLine2: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postalCode: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- salesRepEmployeeNumber: integer (nullable = true)
 |-- creditLimit: float (nullable = true)

+--------------+--------------------+---------------+----------------+-----------------+--------------------+--------------------+-------------+--------+----------+---------+----------------------+-----------+
|customerNumber|        customerName|contactLastName|contactFirstName|            phone|        addressLine1|        addressLine2|         city|   state|postalCode|  country|salesRepEmployeeNumber|creditLimit|
+--------------+--------------------+---------------+----------------+-----------------+--------------------+--------------------+-------------+--------+----------+---------+----------------------+-----------+
|           103|   Atelier graphique|        Schmitt|         Carine |       40.32.2555|      54, rue Royale|                NULL|       Nantes|    NULL|     44000|   France|                  1370|    21000.0|
|           112|  Signal Gift Stores|           King|            Jean|       7025551838|     8489 Strong St.|                NULL|    Las Vegas|      NV|     83030|      USA|                  1166|    71800.0|
|           114|Australian Collec...|       Ferguson|           Peter|     03 9520 4555|   636 St Kilda Road|             Level 3|    Melbourne|Victoria|      3004|Australia|                  1611|   117300.0|
|           119|   La Rochelle Gifts|        Labrune|         Janine |       40.67.8555|67, rue des Cinqu...|                NULL|       Nantes|    NULL|     44000|   France|                  1370|   118200.0|
|           121|  Baane Mini Imports|     Bergulfsen|          Jonas |       07-98 9555|Erling Skakkes ga...|                NULL|      Stavern|    NULL|      4110|   Norway|                  1504|    81700.0|
|           124|Mini Gifts Distri...|         Nelson|           Susan|       4155551450|     5677 Strong St.|                NULL|   San Rafael|      CA|     97562|      USA|                  1165|   210500.0|
|           125|  Havel & Zbyszek Co|Piestrzeniewicz|        Zbyszek |    (26) 642-7555|     ul. Filtrowa 68|                NULL|     Warszawa|    NULL|      null|   Poland|                  null|        0.0|
|           128|Blauer See Auto, Co.|         Keitel|          Roland|+49 69 66 90 2555|       Lyonerstr. 34|                NULL|    Frankfurt|    NULL|     60528|  Germany|                  1504|    59700.0|
|           129|     Mini Wheels Co.|         Murphy|           Julie|       6505555787|5557 North Pendal...|                NULL|San Francisco|      CA|     94217|      USA|                  1165|    64600.0|
|           131|   Land of Toys Inc.|            Lee|            Kwai|       2125557818|897 Long Airport ...|                NULL|          NYC|      NY|     10022|      USA|                  1323|   114900.0|
|           141|Euro+ Shopping Ch...|         Freyre|          Diego |   (91) 555 94 44|  C/ Moralzarzal, 86|                NULL|       Madrid|    NULL|     28034|    Spain|                  1370|   227600.0|
|           144|Volvo Model Repli...|       Berglund|      Christina |     0921-12 3555|     Berguvsvägen  8|                NULL|        Luleå|    NULL|      null|   Sweden|                  1504|    53100.0|
|           145|Danish Wholesale ...|       Petersen|          Jytte |       31 12 3555|        Vinbæltet 34|                NULL|    Kobenhavn|    NULL|      1734|  Denmark|                  1401|    83400.0|
|           146|Saveley & Henriot...|        Saveley|           Mary |       78.32.5555|  2, rue du Commerce|                NULL|         Lyon|    NULL|     69004|   France|                  1337|   123900.0|
|           148|Dragon Souveniers...|      Natividad|            Eric|     +65 221 7555|          Bronz Sok.|Bronz Apt. 3/6 Te...|    Singapore|    NULL|     79903|Singapore|                  1621|   103800.0|
|           151|  Muscle Machine Inc|          Young|            Jeff|       2125557413|   4092 Furth Circle|           Suite 400|          NYC|      NY|     10022|      USA|                  1286|   138500.0|
|           157|Diecast Classics ...|          Leong|          Kelvin|       2155551555|    7586 Pompton St.|                NULL|    Allentown|      PA|     70267|      USA|                  1216|   100600.0|
|           161|Technics Stores Inc.|      Hashimoto|            Juri|       6505556809|   9408 Furth Circle|                NULL|   Burlingame|      CA|     94217|      USA|                  1165|    84600.0|
|           166|    Handji Gifts& Co|      Victorino|           Wendy|     +65 224 1555|106 Linden Road S...|           2nd Floor|    Singapore|    NULL|     69045|Singapore|                  1612|    97900.0|
|           167|        Herkku Gifts|         Oeztan|          Veysel|    +47 2267 3215|     Brehmen St. 121|      PR 334 Sentrum|       Bergen|    NULL|      null| Norway  |                  1504|    96800.0|
+--------------+--------------------+---------------+----------------+-----------------+--------------------+--------------------+-------------+--------+----------+---------+----------------------+-----------+
only showing top 20 rows

customer_df count: 122

```bash
# count of customers in database
select count(*) from customers;

# output
+----------+
| count(*) |
+----------+
|      122 |
+----------+
```

### Problem 3

Use JDBC Connector to create DataFrame customer_df based on table customers in MySQL. Use DataFrame API, and spark.sql() API on the Spark side and SQL queries on the MySQL side determine which customer has the longest name starting with letters A, B or C.

In [5]:
# Connect to mysql using jdbc connector

df_customers_mysql = (
    spark.read
    .format("jdbc")
    .option("url","jdbc:mysql://127.0.0.1:3306")
    .option("driver","com.mysql.cj.jdbc.Driver")
    .option("dbtable", "classicmodels.customers")
    .option("user", "root")
    .option("password", "password")
    .load()
)

df_customers_mysql.printSchema()

df_customers_mysql.show()

root
 |-- customerNumber: integer (nullable = true)
 |-- customerName: string (nullable = true)
 |-- contactLastName: string (nullable = true)
 |-- contactFirstName: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- addressLine1: string (nullable = true)
 |-- addressLine2: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postalCode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- salesRepEmployeeNumber: integer (nullable = true)
 |-- creditLimit: decimal(10,2) (nullable = true)

+--------------+--------------------+---------------+----------------+-----------------+--------------------+--------------------+-------------+--------+----------+---------+----------------------+-----------+
|customerNumber|        customerName|contactLastName|contactFirstName|            phone|        addressLine1|        addressLine2|         city|   state|postalCode|  country|salesRepEmployeeNumber|creditLimit|
+--------------+--------------------+---------------+----------------+-----------------+--------------------+--------------------+-------------+--------+----------+---------+----------------------+-----------+
|           103|   Atelier graphique|        Schmitt|         Carine |       40.32.2555|      54, rue Royale|                null|       Nantes|    null|     44000|   France|                  1370|   21000.00|
|           112|  Signal Gift Stores|           King|            Jean|       7025551838|     8489 Strong St.|                null|    Las Vegas|      NV|     83030|      USA|                  1166|   71800.00|
|           114|Australian Collec...|       Ferguson|           Peter|     03 9520 4555|   636 St Kilda Road|             Level 3|    Melbourne|Victoria|      3004|Australia|                  1611|  117300.00|
|           119|   La Rochelle Gifts|        Labrune|         Janine |       40.67.8555|67, rue des Cinqu...|                null|       Nantes|    null|     44000|   France|                  1370|  118200.00|
|           121|  Baane Mini Imports|     Bergulfsen|          Jonas |       07-98 9555|Erling Skakkes ga...|                null|      Stavern|    null|      4110|   Norway|                  1504|   81700.00|
|           124|Mini Gifts Distri...|         Nelson|           Susan|       4155551450|     5677 Strong St.|                null|   San Rafael|      CA|     97562|      USA|                  1165|  210500.00|
|           125|  Havel & Zbyszek Co|Piestrzeniewicz|        Zbyszek |    (26) 642-7555|     ul. Filtrowa 68|                null|     Warszawa|    null|    01-012|   Poland|                  null|       0.00|
|           128|Blauer See Auto, Co.|         Keitel|          Roland|+49 69 66 90 2555|       Lyonerstr. 34|                null|    Frankfurt|    null|     60528|  Germany|                  1504|   59700.00|
|           129|     Mini Wheels Co.|         Murphy|           Julie|       6505555787|5557 North Pendal...|                null|San Francisco|      CA|     94217|      USA|                  1165|   64600.00|
|           131|   Land of Toys Inc.|            Lee|            Kwai|       2125557818|897 Long Airport ...|                null|          NYC|      NY|     10022|      USA|                  1323|  114900.00|
|           141|Euro+ Shopping Ch...|         Freyre|          Diego |   (91) 555 94 44|  C/ Moralzarzal, 86|                null|       Madrid|    null|     28034|    Spain|                  1370|  227600.00|
|           144|Volvo Model Repli...|       Berglund|      Christina |     0921-12 3555|     Berguvsvägen  8|                null|        Luleå|    null|  S-958 22|   Sweden|                  1504|   53100.00|
|           145|Danish Wholesale ...|       Petersen|          Jytte |       31 12 3555|        Vinbæltet 34|                null|    Kobenhavn|    null|      1734|  Denmark|                  1401|   83400.00|
|           146|Saveley & Henriot...|        Saveley|           Mary |       78.32.5555|  2, rue du Commerce|                null|         Lyon|    null|     69004|   France|                  1337|  123900.00|
|           148|Dragon Souveniers...|      Natividad|            Eric|     +65 221 7555|          Bronz Sok.|Bronz Apt. 3/6 Te...|    Singapore|    null|    079903|Singapore|                  1621|  103800.00|
|           151|  Muscle Machine Inc|          Young|            Jeff|       2125557413|   4092 Furth Circle|           Suite 400|          NYC|      NY|     10022|      USA|                  1286|  138500.00|
|           157|Diecast Classics ...|          Leong|          Kelvin|       2155551555|    7586 Pompton St.|                null|    Allentown|      PA|     70267|      USA|                  1216|  100600.00|
|           161|Technics Stores Inc.|      Hashimoto|            Juri|       6505556809|   9408 Furth Circle|                null|   Burlingame|      CA|     94217|      USA|                  1165|   84600.00|
|           166|    Handji Gifts& Co|      Victorino|           Wendy|     +65 224 1555|106 Linden Road S...|           2nd Floor|    Singapore|    null|    069045|Singapore|                  1612|   97900.00|
|           167|        Herkku Gifts|         Oeztan|          Veysel|    +47 2267 3215|     Brehmen St. 121|      PR 334 Sentrum|       Bergen|    null|    N 5804| Norway  |                  1504|   96800.00|
+--------------+--------------------+---------------+----------------+-----------------+--------------------+--------------------+-------------+--------+----------+---------+----------------------+-----------+
only showing top 20 rows

In [6]:
# Customer with the longest name starting with A, B, or C --> Dataframe API.

# Filter A, B, or, C
filtered_df = df_customers_mysql.filter(df_customers_mysql['customerName'].like("A%") | df_customers_mysql['customerName'].like("B%") | df_customers_mysql['customerName'].like("C%"))

# Find max length
max_len = filtered_df.withColumn("customer_len", length(col("customerName"))).groupBy().max("customer_len").collect()[0][0]

# Show customers with names equal to the max length in the DF
filtered_df.filter(length(filtered_df['customerName']) == max_len).show(truncate=False)

+--------------+----------------------------------+---------------+----------------+------------------+------------+------------+------+-----+----------+-------+----------------------+-----------+
|customerNumber|customerName                      |contactLastName|contactFirstName|phone             |addressLine1|addressLine2|city  |state|postalCode|country|salesRepEmployeeNumber|creditLimit|
+--------------+----------------------------------+---------------+----------------+------------------+------------+------------+------+-----+----------+-------+----------------------+-----------+
|415           |Bavarian Collectables Imports, Co.|Donnermeyer    |Michael         | +49 89 61 08 9555|Hansastr. 15|null        |Munich|null |80686     |Germany|1504                  |77000.00   |
+--------------+----------------------------------+---------------+----------------+------------------+------------+------------+------+-----+----------+-------+----------------------+-----------+

In [7]:
# Customer with the longest name starting with A, B, or C --> Spark SQL API.

# Global temp view
df_customers_mysql.createGlobalTempView("customers")

In [8]:
# Select with functions to filter and find max

sql_filtered = spark.sql("SELECT * FROM global_temp.customers "
 + "WHERE customerName LIKE 'A%' OR customerName LIKE 'B%' OR customerName LIKE 'C%' "
 + "ORDER BY length(customerName) DESC LIMIT 1;")

sql_filtered.show()

+--------------+--------------------+---------------+----------------+------------------+------------+------------+------+-----+----------+-------+----------------------+-----------+
|customerNumber|        customerName|contactLastName|contactFirstName|             phone|addressLine1|addressLine2|  city|state|postalCode|country|salesRepEmployeeNumber|creditLimit|
+--------------+--------------------+---------------+----------------+------------------+------------+------------+------+-----+----------+-------+----------------------+-----------+
|           415|Bavarian Collecta...|    Donnermeyer|         Michael| +49 89 61 08 9555|Hansastr. 15|        null|Munich| null|     80686|Germany|                  1504|   77000.00|
+--------------+--------------------+---------------+----------------+------------------+------------+------------+------+-----+----------+-------+----------------------+-----------+

```bash
# Mysql Shell
mysql> SELECT *, length(customerName) FROM customers
    -> WHERE customerName LIKE 'A%' OR customerName LIKE 'B%' OR customerName LIKE 'C%'
    -> ORDER BY length(customerName) DESC
    -> LIMIT 1;

# Output
+----------------+------------------------------------+-----------------+------------------+--------------------+--------------+--------------+--------+-------+------------+---------+------------------------+-------------+----------------------+
| customerNumber | customerName                       | contactLastName | contactFirstName | phone              | addressLine1 | addressLine2 | city   | state | postalCode | country | salesRepEmployeeNumber | creditLimit | length(customerName) |
+----------------+------------------------------------+-----------------+------------------+--------------------+--------------+--------------+--------+-------+------------+---------+------------------------+-------------+----------------------+
|            415 | Bavarian Collectables Imports, Co. | Donnermeyer     | Michael          |  +49 89 61 08 9555 | Hansastr. 15 | NULL         | Munich | NULL  | 80686      | Germany |                   1504 |    77000.00 |                   34 |
+----------------+------------------------------------+-----------------+------------------+--------------------+--------------+--------------+--------+-------+------------+---------+------------------------+-------------+----------------------+
1 row in set (0.00 sec)
```

### Problem 4

Find and report, using spark.sql()on the Spark side and SQL on  MySQL side, the number of unique productCodes in orderdetails table. Both in Spark and MySQL find the product code with the highest priceEach.

In [9]:
# Unique productCode in orderdetails table --> spark.sql()

# Read table
df_order_d = (
    spark.read
    .format("jdbc")
    .option("url","jdbc:mysql://127.0.0.1:3306")
    .option("driver","com.mysql.cj.jdbc.Driver")
    .option("dbtable", "classicmodels.orderdetails")
    .option("user", "root")
    .option("password", "password")
    .load()
)

In [10]:
# spark sql global temp view

df_order_d_mysql = df_order_d.createGlobalTempView("df_order_d_mysql")

In [11]:
# count distinct product codes

unique_codes_df = spark.sql("select count(distinct(productCode)) from global_temp.df_order_d_mysql;")

unique_codes_df.show()

+---------------------------+
|count(DISTINCT productCode)|
+---------------------------+
|                        109|
+---------------------------+

```bash
# sql shell
select count(distinct(productCode)) from orderdetails;

# output
+------------------------------+
| count(distinct(productCode)) |
+------------------------------+
|                          109 |
+------------------------------+
1 row in set (0.01 sec)
```

In [12]:
# Productcode of max price in orderdetails table

df_order_d.select(col("productCode")).orderBy(desc("priceEach")).take(1)[0][0]

'S10_1949'

```bash
# SQL shell
mysql> select productCode from orderdetails
    -> order by priceEach Desc limit 1;

# output
+-------------+
| productCode |
+-------------+
| S10_1949    |
+-------------+
1 row in set (0.00 sec)
```

### Problem 5

Using DataFrame Python API create two new DataFrames which will have the complex columns. The first DataFrame should contain a column of type struct(orderNumber,productCode,orderLineNumber, priceEach, quantityOrdered). The second DataFrame will have a complex column of type: map(orderDate, shipDate). Name new DataFrames and columns appropriately. From the first DataFrame select for each productCode the number of units sold and the total value sold. Display 5 productCodes with the highest value sold. From the second DataFrame find the longest and the shortest period between the date a product is ordered and shipped.

In [13]:
# Create a df with complex column of structType
complex_struct_df = df_order_d.select(struct("orderNumber", "productCode", "quantityOrdered", "priceEach", "orderLineNumber").alias("complex_grp_struct"))

complex_struct_df.show()

+--------------------+
|  complex_grp_struct|
+--------------------+
|{10100, S18_1749,...|
|{10100, S18_2248,...|
|{10100, S18_4409,...|
|{10100, S24_3969,...|
|{10101, S18_2325,...|
|{10101, S18_2795,...|
|{10101, S24_1937,...|
|{10101, S24_2022,...|
|{10102, S18_1342,...|
|{10102, S18_1367,...|
|{10103, S10_1949,...|
|{10103, S10_4962,...|
|{10103, S12_1666,...|
|{10103, S18_1097,...|
|{10103, S18_2432,...|
|{10103, S18_2949,...|
|{10103, S18_2957,...|
|{10103, S18_3136,...|
|{10103, S18_3320,...|
|{10103, S18_4600,...|
+--------------------+
only showing top 20 rows

In [14]:
# number of units sold per product
total_sold = complex_struct_df.select("complex_grp_struct.productCode", "complex_grp_struct.quantityOrdered").groupBy("productCode").sum("quantityOrdered")

total_sold.show()

+-----------+--------------------+
|productCode|sum(quantityOrdered)|
+-----------+--------------------+
|   S18_4600|                1061|
|   S18_1749|                 918|
|   S18_2248|                 832|
|   S12_3891|                 965|
|  S700_1138|                 934|
|   S32_1268|                 911|
|   S18_2795|                 880|
|   S12_1099|                 933|
|   S24_1937|                 937|
|   S32_3522|                 988|
|   S18_1097|                 999|
|   S18_1662|                1040|
|   S12_1666|                 972|
|   S24_3969|                 824|
|   S24_4048|                 867|
|   S24_1578|                1033|
|   S18_3320|                 992|
|   S24_3816|                 923|
|   S18_3136|                 907|
|   S32_2509|                 955|
+-----------+--------------------+
only showing top 20 rows

In [15]:
# total value sold per product
total_val = complex_struct_df.select("complex_grp_struct.productCode", "complex_grp_struct.priceEach").groupBy("productCode").agg(sum("priceEach").alias("total_value"))

total_val.show()

+-----------+-----------+
|productCode|total_value|
+-----------+-----------+
|   S18_4600|    3023.36|
|   S18_1749|    3842.00|
|   S18_2248|    1357.32|
|   S12_3891|    4271.91|
|  S700_1138|    1634.72|
|   S32_1268|    2403.89|
|   S18_2795|    4196.85|
|   S12_1099|    4656.05|
|   S24_1937|     838.04|
|   S32_3522|    1627.61|
|   S18_1097|    2954.09|
|   S18_1662|    3894.95|
|   S12_1666|    3453.66|
|   S24_3969|     909.69|
|   S24_4048|    2907.34|
|   S24_1578|    2854.70|
|   S18_3320|    2472.30|
|   S24_3816|    2161.08|
|   S18_3136|    2636.87|
|   S32_2509|    1364.12|
+-----------+-----------+
only showing top 20 rows

In [16]:
# Top 5 highest values sold
top_5 = total_val.select(col("productCode")).orderBy(desc("total_value")).take(5)

for r in top_5:
    print(r["productCode"])

S18_3232
S10_1949
S12_1108
S10_4698
S12_1099

In [17]:
# create orders table
# Read table
df_orders = (
    spark.read
    .format("jdbc")
    .option("url","jdbc:mysql://127.0.0.1:3306")
    .option("driver","com.mysql.cj.jdbc.Driver")
    .option("dbtable", "classicmodels.orders")
    .option("user", "root")
    .option("password", "password")
    .load()
)

In [25]:
# Create a df with complex column of map type
complex_map_df = df_orders.select(create_map(col("orderDate"), col("shippedDate")).alias("complex_grp_map"))

complex_map_df.show()

+--------------------+
|     complex_grp_map|
+--------------------+
|{2003-01-06 -> 20...|
|{2003-01-09 -> 20...|
|{2003-01-10 -> 20...|
|{2003-01-29 -> 20...|
|{2003-01-31 -> 20...|
|{2003-02-11 -> 20...|
|{2003-02-17 -> 20...|
|{2003-02-24 -> 20...|
|{2003-03-03 -> 20...|
|{2003-03-10 -> 20...|
|{2003-03-18 -> 20...|
|{2003-03-25 -> 20...|
|{2003-03-24 -> 20...|
|{2003-03-26 -> 20...|
|{2003-04-01 -> 20...|
|{2003-04-04 -> 20...|
|{2003-04-11 -> 20...|
|{2003-04-16 -> 20...|
|{2003-04-21 -> 20...|
|{2003-04-28 -> 20...|
+--------------------+
only showing top 20 rows

In [46]:
# Longest time to ship order

order_ship = complex_map_df.select(explode("complex_grp_map").alias("order_date", "ship_date"))

desc = order_ship.select(datediff(col("ship_date"), col("order_date")).alias("datediff")).filter(col("datediff").isNotNull()).orderBy(col("datediff").desc())

desc.take(1)[0][0]

65

In [48]:
# Shortest time to ship

asc = order_ship.select(datediff(col("ship_date"), col("order_date")).alias("datediff")).filter(col("datediff").isNotNull()).orderBy(col("datediff").asc())

asc.take(1)[0][0]

1